<!DOCTYPE html>
<html>

<head>
    <title>Coleman</title>

    <!-- bulma -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    <!-- Scripts -->
    <script src="controllers/createEvent.js"></script>
    <script src="controllers/clearAllEvents.js"></script>
</head>

<body>
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="content">
                    <h1 class="title is-size-1 has-text-centered">Coleman Wizard</h1>
                    <p class="subtitle has-text-centered">Press <strong>Option + Command + i</strong> to open developer console.</p>
                    <br>

                    <div class="notification">

                        <div class="columns is-family-monospace">
                            <div class="column has-text-right">
                                <p><strong>createEvent(day, time, command)</strong></p>
                            </div>
                            <div class="column">
                                <p>Creates an event with the given arguments in the Coleman calendar.</p>
                            </div>
                            <div class="column ">
                                <p><strong>day</strong>: A number from 0-6 which corresponds to a weekday (Sunday to Saturday, respectively).</p>
                                <p><strong>time</strong>: A string in HH:MM:SS format (e.g. 07:30:00 for 7AM).</p>
                                <p><strong>command</strong>: A string with either a color or the word 'off'</p>
                            </div>
                        </div>
                        <div class="columns is-family-monospace">
                            <div class="column has-text-right">
                                <p><strong>clearAllEvents()</strong></p>
                            </div>
                            <div class="column">
                                Deletes all events under the Coleman calendar.
                            </div>
                            <div class="column ">
                                Takes no arguments.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>