<!-- This HTML file should provide a sample on how to use the provided -->
<!-- server functions, including saving/loading data from the server -->
<!-- and making server calls to create/clear events from the calendar. -->
<!-- These same methods can be used in 'index.html' with our main interface -->
<!-- for the Coleman Planner. -Philip -->

<!DOCTYPE html>
<html>

<head>
    <title>Sample Planner</title>

    <!-- Bulma (CSS stuff) -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    <!-- Scripts -->
    <script src="controllers/createEvent.js"></script>
    <script src="controllers/clearAllEvents.js"></script>
    <script src="controllers/saveload.js"></script>
</head>

<body>
    <section class="section">
        <div class="container">
            <div class="field">
                <label class="label">Hour</label>
                <div class="control">
                    <input class="input" type="text" id="hour">
                </div>
            </div>

            <div class="field">
                <label class="label">Minute</label>
                <div class="control">
                    <input class="input" type="text" id="minute">
                </div>
            </div>

            <div class="field">
                <label class="checkbox">
                    <input type="checkbox" id="sun">
                    Sunday
                </label>
                <label class="checkbox">
                    <input type="checkbox" id="mon">
                    Monday
                </label>
                <label class="checkbox">
                    <input type="checkbox" id="tue">
                    Tuesday
                </label>
                <label class="checkbox">
                    <input type="checkbox" id="wed">
                    Wednesday
                </label>
                <label class="checkbox">
                    <input type="checkbox" id="thu">
                    Thursday
                </label>
                <label class="checkbox">
                    <input type="checkbox" id="fri">
                    Friday
                </label>
                <label class="checkbox">
                    <input type="checkbox" id="sat">
                    Saturday
                </label>
            </div>

            <div class="field">
                <div class="control">
                    <label class="radio">
                        <input type="radio" name="command" value="red" id="red">
                        Red
                    </label>
                    <label class="radio">
                        <input type="radio" name="command" value="green" id="green">
                        Green
                    </label>
                    <label class="radio">
                        <input type="radio" name="command" value="blue" id="blue">
                        Blue
                    </label>
                    <label class="radio">
                        <input type="radio" name="command" value="off" id="off">
                        Off
                    </label>
                </div>
            </div>
            
            <div class="field">
                <div class="columns">
                    <div class="column">
                        <div class="buttons">
                            <button class="button" onclick="create()">Create Event</button>
                            <button class="button" onclick="clearAllEvents()">Delete All Events</button>
                        </div>
                    </div>
                    <div class="column">
                        <div class="buttons">
                            <button class="button" onclick="save()">Save</button>
                            <button class="button" onclick="loadData(load)">Load</button>
                            <button class="button" onclick="clearInputs()">Clear</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        const WEEKDAYS = ['sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat']
        const COMMANDS = ['red', 'green', 'blue', 'off']

        /**
         * Function to take HTML input and create events
         */
        function create() {
            // Get time 
            const hour = document.getElementById('hour').value
            const minute = document.getElementById('minute').value
            const time = `${hour.padStart(2, '0')}:${minute.padStart(2, '0')}:00`

            // Get command
            let command = COMMANDS.find(e => document.getElementById(e).checked)

            // Get day(s)
            let days = WEEKDAYS
                .filter(e => document.getElementById(e).checked) // Get only selected weekdays
                .map(e => WEEKDAYS.indexOf(e)) // Get indices of selected days (e.g. 1 for Monday)

            // Create event for each day, including time and command
            days.forEach(day => {
                createEvent(day, time, command)
            })
        }

        /**
         * Function to save inputs to server file
         */
        function save() {
            const data = {
                hour: document.getElementById('hour').value,
                minute: document.getElementById('minute').value,
                command: COMMANDS.find(e => document.getElementById(e).checked),
                days: WEEKDAYS.filter(e => document.getElementById(e).checked)
            }
            saveData(data)
        }

        /**
         * Function to load input data from server file
         */
        function load(data) {
            document.getElementById('hour').value = data.hour
            document.getElementById('minute').value = data.minute
            document.getElementById(data.command).checked = true
            WEEKDAYS.forEach(day => {
                document.getElementById(day).checked = data.days.includes(day)
            })
        }

        /**
         * Function to clear all inputs
         */
        function clearInputs() {
            document.getElementById('hour').value = ''
            document.getElementById('minute').value = ''
            COMMANDS.forEach(command => {
                document.getElementById(command).checked = false
            })
            WEEKDAYS.forEach(day => {
                document.getElementById(day).checked = false
            })
        }
    </script>
</body>

</html>